*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  background-image: url("https://kaomoji.ru/images/bg_sakura.png");
  justify-content: center;
}
#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px 40px;
  background-color: whitesmoke;
  box-shadow: 0 4px 6px grey;
  border-radius: 15px;
}
.main{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  justify-content: space-between;
}
p{
  padding: 15px 35px;
  font-size: 20px;
  font-weight: 500;
}
h1{
  border-bottom: 1px solid hotpink;
  padding-bottom: 2px;
  margin-top: 8px;
}
button{
  margin: 15px 0;
  background-color: #555555;
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}
.image{
  padding-left: 35px;
}
img{
  width: 100%;
}
